body {
  text-align: center;
  /* resize: both; */
}

.gameBoard {
  position: center;
  width: 650px;
  height: 650px;
  background: rgb(61,138,254);
  border: 1px solid black;
  box-shadow: 5px 5px black;
  /* animation: redBlue 10s infinite */
  /* resize: both */
  /*overflow: auto; w3schools.com */
 }
/* @keyframes redBlue {
from {background-color: green;}
to {background-color: black;}
}  */
/* 
.grid {
  margin: 2px solid Black;
  height: 600px;
  width: 600px */
/* }
/*
div {
  background-color: grey;
  /* justify-content: center; */



/* .container {
  background-color: #0099ff;
  margin-top: 100px;
  margin-right: 100px;

} */
/*
.col,
.row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center
} */