@font-face {
  font-family: "ITC Avant Garde Gothic Bold";
  src: url('./ITC Avant Garde Gothic Bold.otf') format("opentype");
}

body {
  text-align: center;
  background-image: url('./connect-four-board-game-play-child-flickr-dqmountaingirl.jpg');
  background-size: 200px;
  background-repeat: repeat;
  /* resize: both; */
}

#start {
  padding: 4px 12px
}

h1,
h3 {
  font-family: 'ITC Avant Garde Gothic Bold', 'Helvetica Neue';
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 45px;
}


table {
  border-spacing: 0
}

td {
  /* display: flex; */
  background: rgb(167, 167, 29);
  /* justify-content: space-between; */
  padding: 0;
  border: 7px solid yellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 7px 4px #4d4e57e3
}

.container {
  display: inline-block;
  margin: 0 auto;
  size: auto;
}

.gameBoard {
  position: center;
  width: 650px;
  height: 650px;
  background: yellow;
  border: 8px solid rgb(255, 238, 0);
  box-shadow: 5px 5px rgb(114, 112, 19);
  /* animation: redBlue 10s infinite */
  /* resize: both */
  /*overflow: auto; w3schools.com */
}

.player1 {
  background-color: rgb(27, 27, 27);
  /* border: inset 6px solid black */
}

.player2 {
  background-color: red;
  /* border: 3px solid black */
}



/* @keyframes redBlue {
from {background-color: green;}
to {background-color: black;}
}  */
/* 
.grid {
  margin: 2px solid Black;
  height: 600px;
  width: 600px */
/* }
/*
div {
  background-color: grey;
  /* justify-content: center; */

/* .container {
  background-color: #0099ff;
  margin-top: 100px;
  margin-right: 100px;

} */
/*
.col,
.row {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center
} */